@import '../../assets/styles/variable';

@include wrapper();
@include bixbox();

.releases {
  @include releases();
  h1 {
    color: #fff;
    font-size: 1.1em;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
    position: relative;
  }
}

.advancedsearch {
  position: relative;
}
.quickfilter {
  padding: 9px;
  .filters {
    position: relative;
    .filter {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 6px 5px;
      margin: 0;
      display: inline-block;
      position: relative;
      border-radius: 2px;
      button {
        width: 100%;
        padding: 3px 6px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 2px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        -webkit-appearance: button;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        overflow: visible;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: inherit;
        background-color: #333;
        border-color: #333;
        color: #ccc;
      }
      ul {
        right: 0;
        left: 0;
        top: auto;
        width: auto;
        background: #333;
        display: none;
      }
      &.submit {
        width: 25%;
        position: static;
        float: none;
      }
    }
  }
}

.nav_apb {
  margin: 0 15px;
  margin-bottom: 5px;
  text-align: center;
  a {
    text-align: center;
    display: inline-block;
    background: #333;
    padding: 8px 12px !important;
    margin: 2px;
    color: #fff;
    border-radius: 3px;
  }
}

.soralist {
  span {
    display: block;
    padding: 0 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #312f40;
    a {
      font-weight: 700;
      font-size: 15px;
    }
  }
  ul {
    margin: 0;
    overflow: hidden;
    color: #223a65;
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    li {
      margin-left: 15px;
      float: left;
      line-height: 20px;
      margin-bottom: 3px;
      width: 47%;
    }
  }
}
