@import '../../assets/styles/variable';

@include wrapper();
@include bixbox();
.postbody {
  p {
    margin: 10px 0;
  }
}

.ts-breadcrumb {
  background: #222;
  overflow: hidden;
  padding: 10px 15px;
  font-size: 13px;
}

.bigcontent {
  position: relative;
  padding: 15px 20px 25px;
  padding-left: 195px;
  z-index: 1;
  min-height: 415px;
  &.nobigcv {
    min-height: 450px;
    .thumbook {
      top: 15px;
    }
  }
  .thumbook {
    position: absolute;
    top: -20px;
    left: 16px;
    width: 165px;
  }
  .thumb {
    border: 4px solid #141219;
    overflow: hidden;
    margin-bottom: 7px;
  }
  .rt {
    .rating {
      text-align: center;
      padding: 13px 10px;
      background: #111;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      margin-bottom: 10px;
      strong {
        margin-bottom: 7px;
        display: block;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
  .infox {
    font-size: 13.5px;
    line-height: normal;
    h1 {
      color: #fff;
      margin: 0 0 10px;
      font-size: 1.7em;
      font-weight: 500;
      line-height: normal;
    }
    .mindesc {
      margin-bottom: 5px;
      line-height: 21px;
    }
    .spe {
      margin-bottom: 10px;
      overflow: hidden;
      column-count: 2;
      span {
        margin-bottom: 3px;
        padding-right: 7px;
        padding-left: 14px;
        position: relative;
        line-height: 19px;
        display: block;
        &::before {
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          background: #0c70de;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 4px;
        }
      }
    }
    .genxed {
      overflow: hidden;
      margin-bottom: 10px;
      a {
        display: inline-block;
        padding: 4px 8px;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 13px;
        color: #ccc;
        border: 0.5px solid #0c70de;
        border-radius: 3px;
        &:hover {
          color: #fff;
          background: #0c70de;
        }
      }
    }
    .desc {
      color: #ccc;
      line-height: 21px;
    }
  }
}

.bookmark {
  text-align: center;
  background: #0c70de;
  font-size: 13px;
  color: #fff;
  border-radius: 5px;
  padding: 8px 5px;
  cursor: pointer;
}

.bmc {
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  color: #999;
}

.bixbox {
  &.synp {
    .entry-content {
      margin: 15px;
      line-height: 21px;
    }
  }
}

.releases {
  @include releases();
  h2 {
    font-size: 1.1em;
    color: #fff;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
    position: relative;
  }
}

.bs {
  .bsx {
    .limit {
      .typez {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 12px;
        padding: 2px 5px;
        line-height: normal;
        border-radius: 3px;
        z-index: 1;
        color: #fff;
        background: #333;
        &.TV {
          background: #0c70de;
        }
      }
    }
  }
}

.rating-prc {
  .rtp {
    overflow: hidden;
    .rtb {
      position: relative;
      overflow: hidden;
      color: #ffc700;
      height: 15px;
      line-height: 1;
      width: 85px;
      font-size: 15px;
      margin: 0 auto;
      &:before {
        content: '\f005\f005\f005\f005\f005';
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        top: 0;
        left: 0;
        color: #ccc;
      }
      span {
        overflow: hidden;
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 14px;
        &:before {
          content: '\f005\f005\f005\f005\f005';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          top: 0;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}
