@media (max-width: 768px) {
  .MainLayout {
    & > header {
      height: 50px;
      section {
        a {
          margin: auto;
          img {
            height: 36px;
          }
        }
        ul {
          display: none;
        }
      }
    }
    & > main {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    & > footer {
      display: none;
    }
  }
}
