@media (max-width: 1024px) {
  .Home {
    .Left {
      .newAnime {
        .anime {
          flex-direction: column;
          .thumb {
            width: 100%;
            img {
              width: 100%;
              height: 175px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Home {
    flex-wrap: wrap;
    .Left,
    .Right {
      flex-basis: 100%;
    }
  }
}
