@import '../../assets/styles/variable';

@include wrapper();
@include bixbox();

.releases {
  @include releases();
  &.hothome {
    background: #dd3333;
  }
  &.latesthome {
    background: #0c70de;
    .vl {
      background: #222;
      color: #fff;
      line-height: 21px;
      font-weight: 500;
      &:hover {
        background: #333;
        color: #fff;
      }
    }
  }
  h2,
  h3 {
    color: #fff;
    font-size: 1.1em;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
    position: relative;
  }
  .vl {
    font-size: 0.6em;
    text-transform: uppercase;
    color: #fff;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #0c70de;
    display: inline-block;
    float: right;
    margin-top: 1px;
    margin-right: -3px;
  }
}

.hotbadge {
  position: absolute;
  top: 5px;
  left: 5px;
  background: #d33;
  z-index: 1;
  color: #fff;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  i {
    line-height: 22px;
  }
}

.stylesix {
  margin: 0 -10px;
  padding: 15px;
  overflow: hidden;
  border-bottom: 1px solid #383838;
  .bsx {
    position: relative;
    overflow: hidden;
    .thumb {
      float: left;
      width: 90px;
      height: 127px;
      overflow: hidden;
      margin-right: 15px;
      position: relative;
      .typez {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 12px;
        padding: 2px 5px;
        line-height: normal;
        border-radius: 3px;
        z-index: 1;
        color: #fff;
        background: #333;
        &.TV {
          background: #0c70de;
        }
      }
      img {
        min-height: 127px;
      }
      .bt {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        color: #fff;
        font-size: 12.5px;
        overflow: hidden;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.6) 30%,
          rgba(0, 0, 0, 0.8) 60%,
          rgba(0, 0, 0, 0.7) 100%
        );
        padding-bottom: 5px;
        padding-top: 12px;
        .epx {
          margin-left: 8px;
        }
      }
    }
    .inf {
      overflow: hidden;
      h2 {
        font-size: 15px;
        margin: 0;
        margin-bottom: 5px;
        display: block;
        max-width: 700px;
        line-height: 20px;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 13px;
        li {
          line-height: 19px;
          margin-bottom: 2px;
        }
      }
    }
    .upscore {
      position: absolute;
      top: 28px;
      right: 15px;
      background: #0c70de;
      color: #fff;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      .scrt {
        display: block;
        text-transform: lowercase;
      }
      .scr {
        margin-top: 4px;
        font-size: 21px;
        display: block;
      }
    }
  }
}

.series-gen {
  position: relative;
  padding: 15px;
  .nav-tabs {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background: #333;
    border-radius: 3px;
    font-size: 13px;
    li {
      float: left;
      width: 20%;
      &.active {
        a {
          background: #0c70de;
          border-radius: 3px;
          color: #fff;
        }
      }
      a {
        display: block;
        text-align: center;
        padding: 5px;
      }
    }
  }
  .listupd {
    padding: 10px 0;
    margin: 0 -7px;
  }
  .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}

.sidebar {
  width: 30%;
  float: right;
  position: relative;
  z-index: 1;
  .section {
    margin-left: 15px;
    background: #222;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-bottom: 18px;
    box-shadow: 1px 3px 8px rgba(49, 49, 49, 0.1);
  }
}

.quickfilter {
  padding: 9px;
  .filters {
    position: relative;
    .filter {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 6px 5px;
      margin: 0;
      display: inline-block;
      position: relative;
      border-radius: 2px;
      button {
        width: 100%;
        color: #ccc;
        padding: 3px 6px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 2px;
        background-color: #333;
        border-color: #333;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        -webkit-appearance: button;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        overflow: visible;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: inherit;
      }
      &.submit {
        float: none;
        width: 100%;
        button {
          background: #0c70de;
          color: #fff;
          &:hover {
            background: #333;
            color: #fff;
          }
        }
      }
      i {
        font-size: 12px;
        width: auto;
        height: auto;
        line-height: 18px;
        font-weight: 700;
      }
      ul {
        display: none;
      }
    }
  }
}

.clear {
  clear: both;
}
